{% extends 'base.html.twig' %}

{% block body %}
    <div class="pageTitle">
        Enregistrer un temps passé
    </div>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form(form) }}
    {{ form_end(form) }}
            
                 
{% endblock %}

{% block javascripts %}
{% endblock %} 
    