{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
	{% embed '_page.html.twig' %}
        {% block page_title %}
			{{ 'dashboard.title' | trans }}
		{% endblock %}
		{% block page_content %}
			<div class="row">
				<div class="col col-12 col-md-4">
					<p>
						{{ 'dashboard.intro_text' | trans }}
					</p>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
