{% trans_default_domain 'FOSUserBundle' %}

<h1>Gestion du profil</h1>
<h2>Modier le mot de passe</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />        
        <input type="button" value="Retour" onclick="history.back()">
    </div>        
{{ form_end(form) }}