{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
    {% embed "_page.html.twig" %}
        {% block page_title %}
            {{ 'Add/edit Time'|trans }}
        {% endblock %}
        {% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% block javascripts_footer %}
        {{ encore_entry_script_tags('time-form') }}
    {% endblock %}
{% endblock %}
