/*show user name in every pages */

#current-user{    
    position: absolute !important;
    top: 0px;
    right: 0px;
    background-color: #001f3f;
    color : white;
    padding: 14px;
}

#current-user a{
    color: white;
    text-decoration: none;
}

#current-user a:hover{
    color: white;
    text-decoration: none;
}

#listUsers-table_length select{
    max-width: 200px;
}


/* profile page */

/* show profile */

.fos_user_user_show{
    padding: 0px 15px 15px 15px;
}

/* edit profile */

.fos_user_profile_edit, .fos_user_change_password, .cal-fos_user_login, .fos_user_registration_register{
    padding: 15px 15px 15px 15px;
}

#fos_user_profile_form div, #fos_user_change_password_form div, #cal-fos_user_login div, #fos_user_registration_form div{
    margin: 10px 0 0 10px;
}

#fos_user_profile_form input, #fos_user_change_password_form input, #cal-fos_user_login input, #fos_user_registration_form input{
    margin: 0 0 0 15px;
    box-sizing: border-box;
    border: 0.5px solid;
}

/* list users */
#ic-users{
    height: 50px;
    width: auto;
}