.hero {
    margin: -30px -15px;
    height: calc(100vh - 50px);

     > .row {
        height: 100%;
    }

    .row .col:first-child {
        background-image: url('/build/images/bg-index.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .row .col:last-child {
        background-color: white;
    }

    .content-text {
        color: $primary-color-dark;
        position: relative;
        max-width: 46rem;
        top: calc(30vh - 50px );
        margin: 0 auto;
        padding: 0 3rem;
    }
}