/* ALL */
body{
    font-family: 'Oxygen', sans-serif;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#contentAll{
    padding: 20px 10px;
    background-color: #fff;
}

.success{
    background-color: green;
    color: white;
    padding: 10px;
}

.error{
    background-color: red;
    color: white;
    padding: 10px;
}

/**************/

/* MAIN MENU */

#main-menu{
    background-color: #001f3f;
    
}

#main-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-menu ul li{
    float: left;
    margin-bottom: 0 !important;
}

#main-menu ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#main-menu ul li a:hover{
    background-color: white;
    color: #001f3f;
}

/**************/

/* button */

input[type="button"], input[type="submit"], button[type="submit"]{
    background-color: #001f3f;
    color: white;
    padding: 10px 15px;
    border: 2px solid #001f3f;
    margin: 5px 5px !important;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

input[type="button"]:hover, input[type="submit"]:hover, button[type="submit"]:hover{
    color: #001f3f;
    background-color: white;
}

input[type="button"]:active, input[type="submit"]:active, button[type="submit"]:active{
    color: #001f3f;
    background-color: white;
}

/* DASHBOARDS */

#db-users{
    height: 200px;
    width: auto;
}

.db-btn{
    width: 300px;
    text-align: center;
    display: inline-block;
}

/* pages */

.pageTitle{
    background-color: lightblue;
    border: solid 2px white;
    padding: 8px;
    margin-bottom: 10px;
}

/*recap page*/

.recapform{
    display: block;
    padding: 10px;
    margin: 10px;
    border-style: outset;
}

/*forms*/

form{
    display: inline-flex;
    max-width: 100vw;
}

form div{
    /*width: 150px;*/
    margin-right: 10px;
    margin-left: 10px;
    display: table-cell;
}

label{
    display: block;
}
