<ul class="app-nav">
	{% if is_granted('ROLE_USER') %}
		<li class="dropdown">
			<a 	class="app-nav__item"
				href="#"
				data-toggle="dropdown" 
				aria-label="Open Profile Menu"
				aria-expanded="false"
				>
				<span class="material-icons">
					more_vert
				</span>
			</a>
			<ul class="dropdown-menu settings-menu dropdown-menu-right"
				x-placement="bottom-end"
				>
				<li>
					<a class="dropdown-item" href="{{ path('profile') }}">
						{{ 'Profile'|trans }}
					</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('app_logout') }}">
						{{ 'Logout'|trans }}
					</a>
				</li>
			</ul>
		</li>
	{% endif %}
</ul>
