{% for message in app.session.flashBag.get('success') %}
	<p class="alert alert-success">
		{{ message }}
	</p>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
	<p class="alert alert-danger">
		{{ message }}
	</p>
{% endfor %}
