

<div class="footer-content">
	{% block footer_content %}{% endblock %}
</div>

<div class="footer-copyright">
	{% block footer_copyright %}
		<p class="content-text">Open Source Time tracker</p>
	{% endblock %}
</div>

{% block javascripts_footer %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('register-form') }}
{% endblock %}
