{% extends 'base.html.twig' %}

{% block body %}
    
    {% for message in app.flashes('success') %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="error">{{ message }}</div>
    {% endfor %}

    <div class="pageTitle">
        Liste des collaborateurs Temporela
    </div>
    
    <a href=""><input type="button" value="Ajouter un collaborateur"></a>
       
        
    <table id="listCollabo-table" cellspacing="0" width="100%" class="display list_table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                <th>Voir temps passé</th>
            </tr>
        </thead>
        <tbody>
        {% for User in listUsers %}
            {% if User.id != app.user.id %}
                <tr>
                    <td>{{ User.nom }}</td>
                    <td>{{ User.prenom }}</td>
                    <td><a href="">Modifier</a></td>
                    <td><a class="confirmation" href="">Supprimer</a></td>
                    <td>X</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    
    </table>            
            
                 
{% endblock %}

{% block javascripts %}
    <script>
        $('.confirmation').on('click', function () {
        return confirm('Êtes vous sûr ?');
    });
    </script>
{% endblock %} 