{% extends 'base.html.twig' %}

{% block body %}
    <div class="pageTitle">
        Ajouter un collaborateur
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
            
                 
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#appbundle_collaborateur_nom').keyup(function() {
                this.value = this.value.toUpperCase();
            });
            $('#appbundle_collaborateur_prenom').keyup(function() {
                this.value = this.value.toUpperCase();
            });
        });
    </script>
{% endblock %} 
    